Shift + Enter – выполнить и перейти вниз

Ctrl + Enter – выполнить и остаться на ячейке

In [1]:
import pandas as pd
file_path = r'F:\Statistics for Data Analysis\Statistics+for+Data+Analysis_MY\SQL\Statistics for Data Analysis.xlsx'
sheet_name = 'Categorical Distributions'

df = pd.read_excel(file_path, sheet_name=sheet_name)

freq_df = df['Status'].value_counts().reset_index()
freq_df.columns = ['Status','Frequency']

total = freq_df['Frequency'].sum()
freq_df['Relative Frequency, %'] = (freq_df['Frequency']/total).round(2)

grand_total_row = pd.DataFrame({
    'Status': ['GRAND TOTAL'], 
    'Frequency':[freq_df['Frequency'].sum()],
    'Relative Frequency, %': [freq_df['Relative Frequency, %'].sum()]})

freq_df = pd.concat([freq_df, grand_total_row], ignore_index=True)

freq_df

        Status  Frequency  Relative Frequency, %
0       Placed         53                   0.56
1   Not Placed         42                   0.44
2  GRAND TOTAL         95                   1.00

In [2]:

freq_df.to_csv(r'F:\Statistics for Data Analysis\Statistics+for+Data+Analysis_MY\SQL\Categorical Distributions Python.csv', index=False)